<h1>Change product details</h1>
<form name="form"
      #f="ngForm">
<table class="content-table">
  <tbody>
  <tr>
    <td>Drawing name:</td>
    <td>
      <input
        type="text"
        name="drawingName"
        [(ngModel)]="product.drawingName"
        required
        #drawingName="ngModel"
        [ngClass]="{ 'is-invalid': drawingName.errors }">
      <div *ngIf="drawingName.errors" class="invalid-feedback">
        Drawing name is required!
      </div>
    </td>
  </tr>
  <tr>
    <td>Pieces:</td>
    <td>
      <input
      type="number"
      name="pieces"
      [(ngModel)]="product.pieces"
      required
      min="1"
      #pieces="ngModel"
      [ngClass]="{ 'is-invalid': pieces.errors }">

      <div *ngIf="pieces.errors" class="invalid-feedback">
        <div *ngIf="pieces.errors['required']">Pieces is required!</div>
        <div *ngIf="pieces.errors['min']">
          Pieces must be only positive numbers!
        </div>
      </div>
    </td>

  </tr>
  </tbody>
</table>
</form>
<div class="edit-product">
  <input type="submit" (click)=" f.form.valid && saveChanges()"  value="Save">
  <input type="submit" (click)="cancelChanges()" value="Cancel">
</div>
