<h3>Sort by:</h3>
<div>
  <label class="material-checkbox">
    <input type="checkbox" (change)="showFinishedOrders()">
    <span class="checkmark"></span>
    Show finished orders.
  </label>

</div>

  <div class="radio-inputs">
    <label class="radio">
      <input type="radio" name="radio" checked="" value="orderDate" [(ngModel)]="sortType" (change)="sortChange()">
      <span class="name">Order date</span>
    </label>
    <label class="radio">
      <input type="radio" name="radio" value="deadline" [(ngModel)]="sortType" (change)="sortChange()">
      <span class="name">Deadline</span>
    </label>

    <label class="radio">
      <input type="radio" name="radio" value="price" [(ngModel)]="sortType" (change)="sortChange()">
      <span class="name">Price</span>
    </label>
  </div>
<input class="add-order" type="submit" routerLink="/add-order" value="Add new order">
  <h1>Order list:</h1>

<table class="content-table">
  <thead>
  <tr>
    <th>Order date</th>
    <th>Customer</th>
    <th>Number</th>
    <th>Deadline</th>
    <th>Finish date</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{ order.orderDate }}</td>
    <td>{{ order.customer.name }}</td>
    <td>{{ order.orderNumber }}</td>
    <td>{{ order.deadline }}</td>
    <td>{{ order.finishDate }}</td>
    <td>{{ order.price }} PLN</td>
    <td><button type="button" (click)="showOrderDetails(order.id)">Details</button></td>
  </tr>
  </tbody>
</table>

