<div class="page">

<div class="sidebar">
  <div class="logo"></div>
  <ul class="menu">
    <li class="active">
      <a href="#">
        <fa-icon [icon]="faTachometer"></fa-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="faBriefcase"></fa-icon>
        <span>Orders</span>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Customers</span>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="faChartBar"></fa-icon>
        <span>Statistic</span>
      </a>
    </li>
    <li class="logout">
      <a href="#">
        <fa-icon [icon]="faSignOut"></fa-icon>
        <span>Logout</span>
      </a>
    </li>

  </ul>
</div>

<router-outlet></router-outlet>

</div>
