<h1>Customers list:</h1>
<table class="content-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>HouseNumber</th>
    <th>City</th>
    <th>ZipCode</th>
    <th>Country</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.name }}</td>
    <td>{{ customer.street }}</td>
    <td>{{ customer.houseNumber }}</td>
    <td>{{ customer.city }}</td>
    <td>{{ customer.zipCode }}</td>
    <td>{{ customer.country }}</td>
    <td><button type="button" (click)="updateCustomer(customer)">Edit</button></td>
    <td><button type="button" (click)="deleteCustomer(customer)">Delete</button></td>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button type="button" (click)="addCustomer()">Add</button></td>
  </tr>
  </tbody>
</table>
